<div class="jumbotron mission" id="mission">
  <div class="container">
    <p class="jumbotron-heading">
      {{ site.mission_statement }}
    </p>

    <h3 class="text-muted anchorable">{{ site.organization_name | default: "Our" }} Mission</h3>
  </div>
</div>

<div class="jumbotron vision" id="vision">
  <div class="container">
    <p class="jumbotron-heading">
      {{ site.vision_statement }}
    </p>
    <h3 class="text-muted anchorable">Our Vision</h3>
  </div>
</div>

{% include org_cards.html id="core-values" title="Our Core Values" cards=site.core-values %}

{% include org_cards.html id="strategic-goals" title="Our Strategic Goals" cards=site.strategic-goals %}
