{% capture footer %}
  {% assign event_details = include.resource.event_details %}

  {% if event_details != '' and event_details != nil %}
    <b>{{ event_details.city_state }}</b>
    <span class="float-right">
      {% if event_details.start_date != '' and event_details.start_date != nil %}
        <time datetime="{{ event_details.start_date | date: '%FT%T%:z' }}" class="start-date">
          {{ event_details.start_date | date: '%b %d' }}
        </time>
      {% endif %}
      {% if event_details.end_date != '' and event_details.end_date != nil %}
        {% if event_details.start_date != '' and event_details.start_date != nil %}
        &ndash;
        {% endif %}
        <time datetime="{{ event_details.end_date | date: '%FT%T%:z' }}" class="end-date">
          {{ event_details.end_date | date: '%b %d' }}
        </time>
      {% endif %}
    </span>
    <br />
  {% endif %}
{% endcapture %}

{% include resource_icon_card.html link=include.link relative_link=include.relative_link icon=include.icon bg_color=include.bg_color fg_color=include.fg_color title=include.title description=include.description footer=footer resource=include.card %}
