{% assign cards = include.cards | default: site[include.id] %}
{% assign cards = cards | sort: 'sort_order' %}
{% if cards.size > 0 %}
  <div class="cards resources {{ include.id }}" id="{{ include.id }}" style="position: relative; ">
    {% if include.title %}
      <h3 class="anchorable">{{ include.title }}</h3>
    {% endif %}

    <div class="container">
      <div class="row">
        {% for card in cards %}
          {% if card.title != "" and card.title != nil %}
            {% assign relative_link = card.relative_link | default: '' %}
            {% assign page_content = card.content | strip %}
            {% assign has_content = page_content != '' or card.subcards.length > 0 %}
            {% if card.layout != '' and card.layout != nil and relative_link == '' and has_content %}
              {% assign relative_link = card.url %}
            {% endif %}

            {% assign include_file = "resource_icon_card.html" %}
            {% if card.layout == 'event-details' %}
              {% assign include_file = "resource_icon_card_event.html" %}
            {% endif %}

            {% include {{ include_file }} link=card.link relative_link=relative_link icon=card.icon bg_color=card.bg_color fg_color=card.fg_color title=card.title description=card.description resource=card %}
          {% endif %}

        {% endfor %}
      </div>
    </div>

    {% if page.layout == "home" %}
      <a href="#" class="return-to-top"><i class="fa fa-arrow-circle-up"></i></a>
    {% endif %}
  </div>
{% endif %}
