{% if include.inverted == true %}
  {% assign bg_color=include.fg_color %}
  {% assign fg_color=include.bg_color %}
{% else %}
  {% assign bg_color=include.bg_color %}
  {% assign fg_color=include.fg_color %}
{% endif %}

{% capture link_begin %}
  {% if include.link != "" and include.link != nil %}
    <a href="{{ include.link }}">
  {% elsif include.relative_link != "" and include.relative_link != nil %}
    <a href="{{ include.relative_link | relative_url }}">
  {% endif %}
{% endcapture %}

{% capture link_end %}
  {% if include.link != "" and include.link != nil %}
    </a>
  {% elsif include.relative_link != "" and include.relative_link != nil %}
    </a>
  {% endif %}
{% endcapture %}

<div class="{{ include.width_class | default: 'col-sm-6 col-lg-3' }}">
  <div class="card">
    {{ link_begin }}
      <i class="card-header fa fa-{{ include.icon }}"
        style="
          background-color: {{ bg_color | default: '#000000' }};
          color: {{ fg_color | default: 'auto' }};
        "
      ></i>
    {{ link_end }}
    <div class="card-block">
      <h5 class="card-title">
        {{ link_begin }}{{ include.title }}{{ link_end }}
      </h5>
      <p class="card-text">
        {{ include.description }}
      </p>
    </div>
    {% assign footer = include.footer | strip %}
    {% if footer != "" and footer != nil %}
      <div class="card-footer">
        {{ footer }}
      </div>
    {% endif %}
  </div>
</div>
