body.hub-cover {
  background-color: #333;
  color: #fff;
}

.hub-cover {
  position: absolute;

  max-width: 550px;
  height: 230px;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  padding: 10px;
}

.hub-cover h1 {
  font-size: 14rem;
  line-height: 11rem;
  padding: 0;
  margin: 0;
  font-family: 'Cookie';
}

.hub-cover .lead .btn {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  color: #666;
  font-size: .9rem;
  margin-bottom: 0px;
  padding: .4rem 1rem;
}

.hub .navbar a.navbar-brand {
  margin: .25rem 0.3rem 0 0;
  padding: 0;
}

.hub .navbar a.navbar-brand img {
  margin: -0.85rem -0.5rem 0 -0.5rem;
  padding: 0;
}

.hub .hub-brand a {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  line-height: 2.4rem;
  font-family: 'Cookie';
}

.hub .header-anchor {
  color: #888;
  font-size: 1rem;
}

.hub .header-anchor i {
  visibility: hidden;
}

.hub .header-anchor.hidden-sm-down {
  position: relative;
  padding-left: 0.9rem;
  margin-left: -0.9rem;
}

.hub .header-anchor.hidden-sm-down i {
  position: absolute;
  top: 0;
  left: -0.25rem;
}

.hub .header-anchor.hidden-md-up {
  width: 1rem;
  margin-left: .3rem;
  margin-right: -1rem;
}

.hub h1:hover .header-anchor i,
.hub h2:hover .header-anchor i,
.hub h3:hover .header-anchor i,
.hub h4:hover .header-anchor i,
.hub h5:hover .header-anchor i,
.hub h6:hover .header-anchor i {
  visibility: visible;
}

.hub.hub-home footer {
  margin-top: -3.5rem;
}

.hub footer .hub-brand {
  padding: .5rem 0;
  display: inline-block;
}

.hub.hub-home footer .hub-brand {
  padding: .5rem;
}

.hub footer .hub-brand a {
  line-height: inherit;
  font: inherit;
}

.hub footer .navbar {
  padding: .5rem 0;
  display: inline-block;
}

.hub footer .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}

.hub .jumbotron {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 0;
  text-align: center;
}

.hub .jumbotron p:last-child {
  margin-bottom: 0;
}

.hub .jumbotron-heading {
  font-weight: 300;
}

.hub .mission p.jumbotron-heading {
  font-size: 2.5rem;
  margin-bottom: .5rem;
  line-height: 1.1;
}

.hub .vision p.jumbotron-heading {
  font-size: 2rem;
  margin-bottom: .5rem;
  line-height: 1.1;
}

.hub .jumbotron .container {
  max-width: 41rem;
}

.hub .blockquote {
  font-size: 1rem;
}

.hub .cards h3, .hub .jumbotron h3 {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  color: #777;
  margin-bottom: 1rem;
}

.hub .resources h3 {
  font-size: 1.75rem;
  font-weight: 400;
}

.hub .cards .return-to-top {
   font-size: 1.5rem;
   color: #666666;
   position: absolute;
   right: 0;
   margin-right: 1.5rem;
   margin-bottom: 1rem;
}

.hub .cards .return-to-top i {
   visibility: hidden;
}

.hub .cards:hover .return-to-top i {
  visibility: visible;
}


.hub .jumbotron.mission {
  background-color: #fff;
}

.hub .jumbotron.mission {
  background-color: #f7f7f7;
}

.hub.hub-home .cards {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hub .card {
  margin-bottom: 2rem;
  background-color: inherit;
  font-size: 85%;
}

.hub .cards.core-values {
  background-color: #292b2c;
  color: #eee;
}

.hub .cards.strategic-goals {
  background-color: #393b3c;
  color: #ccc;
}

.hub .core-values .card, .hub .strategic-goals .card {
  padding: .75rem;
  border: 0;
}

.hub .card .card-title a, .hub .card > a {
  color: inherit;
  text-decoration: none;
}

.hub .card-header {
  display: block;
}

.hub .cards.upcoming-events {
  background-color: #f7f7f7;
}

.hub .card {
  padding: 0;
  flex: 0 0 auto;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.hub.hub-card-details .card {
  flex: 0 0 auto;
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: 576px) {
  .hub.hub-card-details .card {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .hub .card {
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
  }
}

@media (min-width: 992px) {
  .hub .card {
    margin-left: 1%;
    margin-right: 1%;
    width: 31%;
  }

  .hub.hub-card-details .card {
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
  }
}

@media (min-width: 1200px) {
  .hub .card {
    margin-left: 1%;
    margin-right: 1%;
    width: 23%;
  }
}

.hub .navbar {
}

.hub .navbar-nav {
  width: 100%;
  justify-content: space-around;
}

.hub .navbar-toggleable-md .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
}

.hub .nav-item.org-brand {
  text-align: right;
  flex-grow: 1;
}

.hub .nav-item.search {
  text-align: center;
  min-width: 45%;
  margin-top: -.1em;
  margin-left: .5em;
}

@media (min-width: 350px) {
  .hub .nav-item.org-brand {
    text-align: right;
  }
}

@media (min-width: 450px) {
  .hub .nav-item.org-brand {
    margin-left: auto;
    order: 3;
    flex-grow: 0;
    min-width: inherit;
  }

  .hub .nav-item.hub-brand {
    order: 1;
    text-align: left;
  }

  .hub .nav-item.search {
    order: 2;
    min-width: inherit;
  }

  .hub .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.hub .resources .card {
  background-color: #ffffff;
}

.hub .resources .card-header {
  background-color: #333333;
  color: #eeeeee;
  font-size: 4rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.hub .cards.work-resources {
  background-color: #e7e7e7;
}

.hub .card-details .cards > .container {
  padding-left: 0;
  padding-right: 0;
}

.hub .card-details-header {
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.hub .card-details-header i.fa {
  font-size: 14rem;
}

.hub .card-details h6 {
  margin-top: 1rem;
  margin-bottom: .25rem;
  font-weight: bold;
}

.hub .card-details ul + h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.hub .card-details h3:not(:first-child) {
  margin-top: 2rem;
}

.hub .table-app-accounts th {
  width: 25%;
}

.hub .table-app-accounts th + th {
  width: 15%;
}

.hub .table-app-accounts th + th + th {
  width: 60%;
}
