---
layout: page
---

<div class="card-details">
  <div class="card-details-header" style="background-color: {{ page.bg_color | default: '#000000' }}; ">
    <i class="fa fa-{{ page.icon }}"
      style="
        background-color: inherit;
        color: {{ page.fg_color | default: '#ffffff' }};
      "
    ></i>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1>{{ page.title }}</h1>

        {% assign event_details = page.event_details %}
        {% if event_details != '' and event_details != nil %}
          <p>
            {% if event_details.start_date != '' and event_details.start_date != nil %}
              <time datetime="{{ event_details.start_date | date: '%FT%T%:z' }}" class="start-date">
                {{ event_details.start_date | date: '%A, %B %-d, %Y, %l:%M%P' }}
              </time>
            {% endif %}
            {% if event_details.end_date != '' and event_details.end_date != nil %}
              {% if event_details.start_date != '' and event_details.start_date != nil %}
              &ndash;
              {% endif %}
              <time datetime="{{ event_details.end_date | date: '%FT%T%:z' }}" class="end-date">
                {{ event_details.end_date | date: '%A, %B %-d, %Y, %l:%M%P' }}
              </time>
            {% endif %}
          </p>
        {% endif %}

        {% if page.subcards %}
          {% include resource_cards.html cards=page.subcards %}
          {{ content }}
        {% else %}
          {{ content | strip | default: page.description }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
