---
layout: page
---

<div class="card-details">
  <div class="card-details-header" style="background-color: {{ page.bg_color | default: '#000000' }}; ">
    <i class="fa fa-{{ page.icon }}"
      style="
        background-color: inherit;
        color: {{ page.fg_color | default: '#ffffff' }};
      "
    ></i>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {% if page.header_title == "" %}
        {% else %}
          <h1 id="content">{{ page.header_title | default: page.title }}</h1>
        {% endif %}

        {% assign event_details = page.event_details %}
        {% if event_details != '' and event_details != nil %}
          <p>
            {% if event_details.start_date != '' and event_details.start_date != nil %}
              <time datetime="{{ event_details.start_date | date: '%FT%T%:z' }}" class="start-date">
                {{ event_details.start_date | date: '%A, %B %-d, %Y, %l:%M%P' }}
              </time>
            {% endif %}
            {% if event_details.end_date != '' and event_details.end_date != nil %}
              {% if event_details.start_date != '' and event_details.start_date != nil %}
              &ndash;
              {% endif %}
              <time datetime="{{ event_details.end_date | date: '%FT%T%:z' }}" class="end-date">
                {{ event_details.end_date | date: '%A, %B %-d, %Y, %l:%M%P' }}
              </time>
            {% endif %}
          </p>
        {% endif %}

        {% if page.subcards or page.subcards-collection %}
          {{ page.introduction | markdownify }}
          {% assign cards = page.subcards | default: site[page.subcards-collection] %}
          {% assign cards = cards | sort: 'sort_order' %}
          {% include resource_cards.html cards=cards %}
          {{ content }}
        {% else %}
          {{ content | strip | default: page.description }}
        {% endif %}

        <footer class="text-muted">
          <nav class="navbar navbar-toggleable-md navbar-light pull-right">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="#" class="nav-link">Back to top</a>
              </li>
            </ul>
          </nav>

          <p class="hub-brand">
            <a href="https://github.com/lightster/hub">Hub</a>
            built with &lt;3 by
            <a href="https://twitter.com/lightster">@lightster</a>
          </p>
        </footer>
      </div>
    </div>
  </div>
</div>
