---
layout: page
---

{% include organization.html %}

{% include resource_cards.html class="upcoming-events" title="Upcoming Events" cards=site.upcoming-events %}
{% include resource_cards.html class="personal-resources" title="Personal Resources" cards=site.personal-resources %}
{% include resource_cards.html class="work-resources" title="Work Resources" cards=site.work-resources %}

{% if site.social-cards != nil %}
  <div class="cards resources social-resources">
    <div class="section-title">Social Media</div>
    <div class="container">
      <div class="row">

        {% for card in site.social-cards %}
          {% capture file %}social_{{ card.network }}.html{% endcapture %}
          {% include {{ file }} username=card.username inverted=card.inverted personal=card.personal %}
        {% endfor %}

      </div>
    </div>
  </div>
{% endif %}

{{ content }}

<footer class="text-muted">
  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light pull-right">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}" class="nav-link">Edit this page</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Back to top</a>
        </li>
      </ul>
    </nav>

    <p class="hub-brand">
      <a href="https://github.com/lightster/hub">Hub</a>
      built with &lt;3 by
      <a href="https://twitter.com/lightster">@lightster</a>
    </p>
  </div>
</footer>
