---
layout: default
---

{% include organization.html %}

{% include resource_cards.html class="upcoming-events" title="Upcoming Events" cards=site.upcoming_events %}
{% include resource_cards.html class="personal-resources" title="Personal Resources" cards=site.personal_resources %}
{% include resource_cards.html class="work-resources" title="Work Resources" cards=site.work_resources %}

{% if site.social_cards != nil %}
  <div class="cards resources social-resources">
    <div class="section-title">Social Media</div>
    <div class="container">
      <div class="row">

        {% for card in site.social_cards %}
          {% capture file %}social_{{ card.network }}.html{% endcapture %}
          {% include {{ file }} username=card.username inverted=card.inverted personal=card.personal %}
        {% endfor %}

      </div>
    </div>
  </div>
{% endif %}

{{ content }}

<footer class="text-muted">
  <div class="container">
    <p class="text-right">
      <a href="#">Back to top</a>
    </p>
    <p>
      <a href="https://github.com/lightster/our-company-hub">Our Company Hub</a>
      built with &lt;3 by
      <a href="https://twitter.com/lightster">@lightster</a>
    </p>
  </div>
</footer>
